html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: #ddd;
    box-sizing: border-box;

}

/*NAVIGATION BAR*/

.name {
    background: -webkit-linear-gradient(#0056b3, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
  }
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px;
    height: 80px;
    padding: 0 90px;
    background-color: transparent;
  }

span {
    color: #007bff;
}
  
nav #un-list {
    display: flex;
  }
  
nav li {
    list-style: none;
    margin: 0 25px;
  }
  
nav .link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
nav #un-list li .link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin: 0 10px;
    position: relative;
  }
  
nav #un-list li .link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '';
    background: #007bff;
    height: 2px;
    transition: width 0.5s;
  }
  
nav #un-list li .link:hover::after {
    width: 100%;
  }
  
nav #un-list li .link:hover {
    color: #007bff;
}

.dropdown {
    float: left;
    overflow: hidden;
  }


.dropdown .dropbtn {
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}


.dropdown-content {
    border-radius: 10px;
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
   color: #007bff;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    color:#007bff;;
}
  
/*NAVIGATION BAR | SEARCH BAR*/

.search-form {
    border: 1px solid black;
    border-radius: 100px;
    padding: 0 10px;
    overflow: hidden;
    background-color: white;
}


#searchInput {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}

#itemList {
    color: #000;
    background-color: white;
    position:absolute;
    display: block;
    z-index: 5;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.item {
    font-size: 17px;
    padding: 10px;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.item.show {
    width: 220px;
    display: block;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.list-link {
    text-decoration: none;
}

.list-link:hover {
    background-color: #0056b3;
}

#center {
    border: 5px groove #fff;
    text-align: center;
    margin-top: 150px;
    width: 900px;
}

h2 > span {
    background: -webkit-linear-gradient(#0056b3, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-size: 60px;
}

.center {
    justify-content: center;
    display: flex;
    align-items: center;
}

h3 {
    text-align: justify;
    width: 750px;
    font-size: 25px;
    font-weight: normal;
}

h4 {
    text-align: center;
    margin-top: 100px;
}


footer {
    background-color: #ddd;
    box-shadow: 0 0 10px;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
    bottom: auto;

}

footer p {
    font-size: 20px;
}

footer .color {
    background: -webkit-linear-gradient(#0056b3, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
  
  