html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: #ddd;
    box-sizing: border-box;

}

/*NAVIGATION BAR*/

.name {
    background: -webkit-linear-gradient(#0056b3, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
  }
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px;
    height: 80px;
    padding: 0 90px;
    background-color: transparent;
  }

span {
    color: #007bff;
}
  
nav #un-list {
    display: flex;
  }
  
nav li {
    list-style: none;
    margin: 0 25px;
  }
  
nav .link {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
nav #un-list li .link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    margin: 0 10px;
    position: relative;
  }
  
nav #un-list li .link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '';
    background: #007bff;
    height: 2px;
    transition: width 0.5s;
  }
  
nav #un-list li .link:hover::after {
    width: 100%;
  }
  
nav #un-list li .link:hover {
    color: #007bff;
}

.dropdown {
    float: left;
    overflow: hidden;
  }


.dropdown .dropbtn {
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}


.dropdown-content {
    border-radius: 10px;
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
   color: #007bff;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    color:#007bff;;
}
  
/*NAVIGATION BAR | SEARCH BAR*/

.search-form {
    border: 1px solid black;
    border-radius: 100px;
    padding: 0 10px;
    overflow: hidden;
    background-color: white;
}


#searchInput {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    flex-grow: 1;
}

#itemList {
    color: #000;
    background-color: white;
    position:absolute;
    display: block;
    z-index: 5;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.item {
    font-size: 17px;
    padding: 10px;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.item.show {
    width: 220px;
    display: block;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.list-link {
    text-decoration: none;
}

.list-link:hover {
    background-color: #0056b3;
}

/*LAPTOP SLIDESHOW*/

.con-img {
    bottom: -100px;
    position: absolute;
    width: 850px;
    right: 80px;
    z-index: -1;
}

#glaptop {
    width: 800px;
}

.slideshow-container {
    bottom: -90px;
    position: absolute;
    right: 200px;
    z-index: -1;
    width: 100%; 
    max-width: 600px; 
    height: 864px;
    overflow: hidden;
}

.slide {
    position: absolute;
    opacity: 0;
    animation: slideAnimation 15s infinite;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

@keyframes slideAnimation {
    0% {
        opacity: 0;
    }
    6.66% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 5s;
}

.slide:nth-child(3) {
    animation-delay: 10s;
}

/*CONTAINER OF CONTENT*/

.Container {
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 150px;

}

.right {
    animation: slideInFromRight 1s ease-out forwards; 
  }
  
  @keyframes slideInFromRight {
    from {
         opacity: 0.1;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }


.left {
    animation: slideInFromLeft 1s ease-out forwards; /* Apply animation */
  }
  
  @keyframes slideInFromLeft {
    from {
        opacity: 0.1;
        transform: translateX(-100%); 
    }
    to {
        opacity: 1;
        transform: translateX(0); 
    }
  }
  

h1 {
    font-size: 60px;
}


.intro {
    width: 600px;
    font-weight: normal;
    font-size: 20px;
    margin-left: 10px;
}
 
#itemList {
    width: 100px;
    list-style-type: none;
    padding: 0;
  }
  
#itemList li {
    background-color: white;
    text-align: center;
  }

.hidden {
    display: none;
  }


#btn-dis {
    width: 200px;
    height: 50px;
    margin-top: 80px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}
  
#btn-dis:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

.line {
    text-align: center;
    background-color: #000;
    height: 2px;
    width: 1428px;
}

.center {
    justify-content: center;
    display: flex;
    align-items: center;
}

/* RECOMMENDATION */

.con-reco {
    height: 1000px;
}

h3 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(#0056b3, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.space {
    height: 150px;
}

.box-glaptop {
    width: 460px;
    height: 430px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 0 10px;
}

.laptop {
    width: 410px;
    position: absolute;
    z-index: 1;
}

.space-box {
    height: 130px;
}

h4 {
    font-weight: 800;
    font-size: 20px;
}

.con-p {
    margin-left: 30px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

h5 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}

p {
    width: 400px;
    text-align: left;
}

/* BUTTON - SPECIFICATION */
#btn-specs-rog{
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}
  
#btn-specs-rog:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

#btn-specs-msi{
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}
  
#btn-specs-msi:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

#btn-specs-razer{
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    transition: transform .2s;
}
  
#btn-specs-razer:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}


/* SPECIFICATION - IFRAME */

#contentFrame {
    width: 1420px;
    height: 500px;
}

footer {
    background-color: #ddd;
    box-shadow: 0 0 10px;
    padding: 10px;
    margin-top: 100px;
    bottom: auto;

}

footer p {
    font-size: 20px;
}

footer .color {
    background: -webkit-linear-gradient(#0056b3, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
  
  